@use "variaveis";

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: variaveis.$corDeFundo;
    transition: background-color 0.5s ease; // Adiciona uma transição suave para a mudança de cor de fundo do header, tornando a experiência do usuário mais agradável ao rolar a página

    &--is-hidden {
        background-color: transparent;
        transition: background-color 0.5s ease;
        
        .header {

            &__logo, &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.5s ease;
            }
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity 0.5s ease; // Adiciona uma transição suave para a mudança de opacidade e visibilidade do logo, tornando a experiência do usuário mais agradável ao rolar a página
    }

    &__links {
        display: flex;

        &__item {
            margin: 5px;
            transition: opacity 0.5s ease;
        }
    }

    .button {
        height: 50px;
    }
}

.hidden {
    visibility: hidden;
}