@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/hero_desktop.jpeg);
    text-align: center;
    background-size: cover; //cover é um valor para a propriedade background-size que faz com que a imagem de fundo cubra toda a área do elemento, mesmo que isso signifique cortar parte da imagem ou distorcê-la.

    &__content {
        max-width: 640px;

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;
        }

        .title--small {
            margin-bottom: 64px;
        }

        p {
            margin-bottom: 20px;

            &:last-child { //last-child é um seletor que seleciona o último elemento filho de um pai, ou seja, o último parágrafo dentro do .hero__content
                margin-top: 60px;
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;

            &__combo {
                width: calc(50% - 12px);

                img {
                    max-height: 60px;
                }

                button {
                    display: block;
                    width: 100%;
                    height: 60px;
                    font-size: 18px;
                    color: variaveis.$corTextoSecundario;
                    background-color: #6421ff;
                    border-radius: 4px;
                    border: none;
                    margin-top: 2vw;
                    margin-bottom: 8px;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
        }
    }
}