.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        margin-top: 44px;

        @media (max-width: 768px) {
            display: block;
        }

        .button {
            margin-top: 24px;
        }
        
        &__item {
            max-width: 380px;
            text-align: center;
            padding: 60px 44px 44px;
            width: 100%;

            &:nth-child(2) { //nth-child é um seletor que seleciona o elemento filho de um pai com base em sua posição, ou seja, o segundo item da lista de planos
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;//contain é um valor para a propriedade background-size que faz com que a imagem de fundo seja redimensionada para caber dentro do elemento, mantendo suas proporções originais, mesmo que isso signifique deixar espaço em branco ao redor da imagem.
            }

            img {
                height: 83px;
                width: 100%;

                @media (max-width: 768px) {
                    height: auto;
                }
            }

            strong {
                display: block;
                margin-top: 24px;
            }
        }
    }

    p {
        text-align: center;
    }
}