//imports
@use "variaveis";
@use "hero";
@use "shows";
@use "plans";
@use "available-devices";
@use "faq";
@use "footer";
@use "header";

//import fonts
@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/Avenir-Regular.woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/Avenir-Bold.woff2");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenir", sans-serif;
    list-style: none;
}

body {
    background-color: variaveis.$corDeFundo;
}

//mixins
@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}
@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corFundoBotaoPrimario;
    border-radius: 4px;
    border: 1px solid variaveis.$corFundoBotaoPrimario;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: lighten($color: variaveis.$corFundoBotaoPrimario, $amount: 4%); //lighten é uma função do Sass que clareia a cor especificada em $color em uma quantidade definida por $amount, que é expressa como uma porcentagem. Neste caso, a cor do botão primário será clareada em 4% quando o usuário passar o mouse sobre ele.
        transition: all 0.3s ease;
        transform: scale(1.05);
    }

        &--secondary {
            background-color: variaveis.$corFundoBotaoSecundario;
            border-color: variaveis.$corFundoBotaoSecundario;
    
            &:hover {
                background-color: lighten($color: variaveis.$corFundoBotaoSecundario, $amount: 4%);
                transition: all 0.3s ease;
                transform: scale(1.05);
            }
        }

        &--dark {
            background-color: rgba(variaveis.$corFundoBotaoDark, 0.8);
            border-color: variaveis.$corTextoSecundario;

            &:hover {
                background-color: variaveis.$corTextoSecundario;
                color: variaveis.$corDeFundo;
                transition: all 0.3s ease;
                transform: scale(1.05);
            }
        }
}

.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    img {
        width: 100%;
    }

    &__text_container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }
    }

    &--image-full-width {
        position: relative;
        display: block;

        img {
            width: 100%;
        }

        &__text_container {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
